gradio==5.0.2
langchain==0.3.3
langchain-community==0.3.1
langchain-huggingface==0.1.0
pdfminer.six==20240706
youtube-transcript-api==0.6.2
psutil==6.0.0
faiss-cpu==1.9.0
beautifulsoup4==4.12.3
