services:
  app:
    extends:
      file: ../docker/compose.cuda.yml
      service: app
    build:
      context: ..
      dockerfile: cuda.Dockerfile
    image: local/chatbot-rag:main-cuda
    gpus: all

  llamacpp:
    extends:
      file: ../docker/compose.cuda.yml
      service: llamacpp