services:
  app:
    extends:
      file: compose.base.yml
      service: app
    build:
      context: ..
      dockerfile: cuda.Dockerfile
    image: local/chatbot-rag:main-cuda
    gpus: all