gradio==6.4.0
sentence-transformers==5.2.0
unstructured[csv,docx,md,org,pdf,pptx,tsv,xlsx]==0.18.27
chromadb==1.4.1
youtube-transcript-api==1.2.3
psutil==7.2.1
pytest==9.0.2
python-dotenv==1.2.1